name: dayaheadprice
services:
  # Day Ahead Price web app
  dayaheadprice:
    container_name: dayaheadprice
    hostname: dayaheadprice
    image: dayaheadprice:latest
    environment:
      ASPNETCORE_ENVIRONMENT: Release
      EndpointOptions__ApiKey: "${ENTSOE_APIKEY:?err}"
    volumes:
      - ./dpkeys:/app/dpkeys
    ports:
      - 127.0.0.1:8548:8080
    networks:
      - dayaheadpricenet
    restart: on-failure

networks:
  dayaheadpricenet:
