@using DayAheadPrice.Extensions
@using static DayAheadPrice.Logic.GridScaleSelector
@inherits ComponentBase

@{
    var gridScale = GetGridScale(Max, Min);
    var gridHeightPercent = gridScale * 100 / (Max - Math.Min(Min, 0.0m));
    var barHeightPercent = 100 * Price / (Max - Min); // May be negative
    var barVisible = Price != 0;

    var eventToRun = $"setPriceData(event, '{GetPriceString()}', '{GetTimeString()}')";
}

<div class="histogrambar" onmouseenter=@(eventToRun) ontouchstart=@(eventToRun)>
    @if (Time == DateTime.MinValue)
    {
        var gridLines = (int)Math.Round(100.0m / gridHeightPercent);
        for (int ii = 0; ii < gridLines; ii++)
        {
            <div class="noprice gridhost" style=@($"flex:{gridHeightPercent.ToString("#.###")}")>
                <div class="fullwidth gridnumber">@($"{Max - ((ii+1)*gridScale)}")</div>
            </div>
        }
    }
    else if (barHeightPercent >= 0)
    {
        <div class="noprice" style=@($"flex:{(100*(Max-Price)/(Max-Min)).ToString("#.###")}") />
        @if (barVisible)
        {
            <div class="price" style=@($"flex:{barHeightPercent.ToString("#.###")}") />
        }
        @if (Min < 0)
        {
            <div class="noprice" style=@($"flex:{(100*(-Min)/(Max-Min)).ToString("#.###")}") />
        }
    }
    else
    {
        @if (Max > 0)
        {
            <div class="noprice" style=@($"flex:{(100*Max/(Max-Min)).ToString("#.###")}") />
        }
        <div class="price" style=@($"flex:{(-barHeightPercent).ToString("#.###")}") />
        <div class="noprice" style=@($"flex:{(100*(Price-Min)/(Max-Min)).ToString("#.###")}") />
    }
</div>

@code {
    [Parameter]
    public decimal Max { get; set; }

    [Parameter]
    public decimal Min { get; set; }

    [Parameter]
    public decimal Price { get; set; }

    [Parameter]
    public DateTime Time { get; set; }

    private string GetPriceString()
    {
        return $"{Price.ToString("0.00")}c/kWh";
    }

    private string GetTimeString()
    {
        return $"{Time.Month.ToString("00")}-{Time.Day.ToString("00")} \u23F2 {Time.Hour.ToString("00")}:{Time.Minute.ToString("00")} \u2014 {(Time.Hour).ToString("00")}:{(Time.Minute+14).ToString("00")}";
    }
}