@using DayAheadPrice.Extensions
@inherits ComponentBase

<div class="histogramblock">
    <div class="gridhost histogramheader">
        <div class="fullwidth gridnumber">
            c€
        </div>
    </div>
    <div class="histogramcontent">
        <HistogramBar Max=@Max Min=@Min Price=0m Time=@DateTime.MinValue />
    </div>
</div>

@foreach (var priceGroup in Prices.GroupBy(p => new DateTime(p.Key.Year, p.Key.Month, p.Key.Day, p.Key.Hour, 0, 0, DateTimeKind.Local)))
{
    var currentDay = priceGroup.Key.Day == DateTime.Now.Day && priceGroup.Key != DateTime.Now.Floor();
    var currentHour = priceGroup.Key == DateTime.Now.Floor();

    List<string> backgroundClasses = [];
    
    if (currentDay)
    {
        backgroundClasses.Add("currentday");
    }

    if (currentHour)
    {
        backgroundClasses.Add("currenthour");
    }

    <div class="histogramblock leftborder">
        <div class=@(string.Join(' ', backgroundClasses.Concat(["gridhost", "histogramheader"])))>
            <div class="fullwidth gridnumber">
                @(priceGroup.Key.Hour)
            </div>
        </div>
        <div class=@(string.Join(' ', backgroundClasses.Concat(["histogramcontent"])))>
            @foreach (var (time, price) in priceGroup)
            {
                <HistogramBar Max=@Max Min=@Min Price=@price Time=@time />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public decimal Max { get; set; }

    [Parameter]
    public decimal Min { get; set; }

    [Parameter]
    public SortedList<DateTime, decimal> Prices { get; set; } = [];
}