@using DayAheadPrice.Components.Elements
@using DayAheadPrice.Entities
@using DayAheadPrice.Extensions
@using DayAheadPrice.Logic
@using DayAheadPrice.Options
@using Microsoft.Extensions.Options
@using static DayAheadPrice.Logic.GridScaleSelector
@inject PriceContainer _priceContainer
@inject IOptions<PricingOptions> _pricingOptions
@inject NavigationManager _navigationManager
@page "/"
@rendermode InteractiveServer

<PageTitle>Day-ahead electricity prices (Finland)</PageTitle>

@{
    var prices = _priceList?.GetPrices(_margin, _vat);
}

<script>
    function setPriceData(_, priceString, timeString) {
        document.getElementById("TimeHeader").innerHTML = timeString;
        document.getElementById("PriceHeader").innerHTML = priceString;
    }
</script>

<div class="page">
    <div Id="TimeHeader" class="fullwidth pageheader" onclick=messIt(event)>
        @_timeString
    </div>

    <div id="PriceHeader" class="fullwidth pageheader" onclick=messIt(event)>
        @_priceString
    </div>

    @if (prices != null && prices.Any())
    {
        var maxPrice = prices.Max(p => p.Value);
        var minPrice = prices.Min(p => p.Value);
        minPrice = Math.Min(minPrice, 0.0m);
        var gridScale = GetGridScale((int)Math.Ceiling(maxPrice), (int)Math.Floor(minPrice));
        var ceilPrice = (int)Math.Ceiling(maxPrice / gridScale) * gridScale;
        var floorPrice = (int)Math.Floor(minPrice / gridScale) * gridScale;

        <div class="pagecontent">
            <Histogram Max=@ceilPrice Min=@floorPrice Prices=@prices />
        </div>
    }
    else
    {
        <p>
            No data to display. This might be due to a fetch error.
            <br />
            Try refreshing.
        </p>
    }
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private PriceList? _priceList = null;
    private decimal _margin;
    private decimal _vat;

    private string _timeString = string.Empty;
    private string _priceString = string.Empty;

    private void PriceCallback(decimal input)
    {
        SetPriceString(input);
        //StateHasChanged();
    }

    private void TimeCallback(DateTime input)
    {
        SetTimeString(input);
        //StateHasChanged();
    }

    private void SetPriceString(decimal input)
    {
        _priceString = $"{input.ToString("0.00")}c/kWh";
    }

    private void SetTimeString(DateTime input)
    {
        _timeString = $"{input.Month.ToString("00")}-{input.Day.ToString("00")} \u23F2{input.Hour.ToString("00")} \u2014 {(input.Hour + 1).ToString("00")}";
    }

    protected override async Task OnInitializedAsync()
    {
        if (_navigationManager.TryGetQueryString<decimal>("margin", out var margin))
        {
            _margin = margin;
        }
        else
        {
            _margin = _pricingOptions.Value.Margin;
        }

        if (_navigationManager.TryGetQueryString<decimal>("vat", out var vat))
        {
            _vat = vat;
        }
        else
        {
            _vat = _pricingOptions.Value.Vat;
        }

        _priceList = await _priceContainer.GetPriceListAsync();

        if (_priceList != null)
        {
            var prices = _priceList?.GetPrices(_margin, _vat);
            var printValue = prices?.TryGetValue(DateTime.Now.Floor(), out var value) == true ? value : 0m;
            SetPriceString(printValue);
            SetTimeString(DateTime.Now.Floor());
        }
    }
}
